<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/f25c3ae372.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="logo Animalandia">
        </div>
        <div class="botones">
            
            <button class="b-azul"><a href="login.html">Ingresar</a><i class="fa-solid fa-eye"></i></button>
            <button class="b-morado">Registrar</button>
        </div>
    </header>
    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="contactanos.html" class="item">Contactanos</a>
    </nav>
    <main>
        <section id="agenda">
            <article class="cita">
                <h1>Agenda tu cita ahora para reclamar tu primer baño gratis</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsam deleniti ea inventore atque maxime aliquam mollitia facilis eligendi doloribus a nulla accusamus, dolor minus deserunt laboriosam nobis et quidem.</p>
                <h3>RECUERDA QUE NUESTRO EQUIPO MEDICO TE CONFIRMARA LA CITA</h3>
                <button class="b-morado">Agendar</button>
            </article>
            <article class="promocion">
                <h1>GRATIS PRIMER BAÑO</h1>
                <img src="../assets/img/golden.jpg" alt="Perro Golden Retriver">
            </article>
        </section>
        <h1 class="tseccion">Servicios</h1>
        <section  id="servicios">
            <article class="servicio">
                <img src="../assets/img/paciente.png" alt="Paciente">
                <h3>Pacientes</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Ad ipsum sequi illum odio sint, quibusdam suscipit eos <br> hic numquam voluptatum.</p>
            </article>
            <article class="servicio">
                <img src="../assets/img/veterinario.png" alt="Veterinario">
                <h3>Pacientes</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Ad ipsum sequi illum odio sint, quibusdam suscipit eos <br> hic numquam voluptatum.</p>
            </article>
            <article class="servicio">
                <img src="../assets/img/vacunacion.png" alt="Vacunacion">
                <h3>Pacientes</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Ad ipsum sequi illum odio sint, quibusdam suscipit eos <br> hic numquam voluptatum.</p>
            </article>
        </section>
        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <ul>
                        <li>Sede Kennedy</li>
                        <li>Sede Suba</li>
                        <li>Sede Fontibon</li>
                        <li>Sede Centro</li>
                    </ul>
                </div>
                    <div class="foot">
                        <img src="../assets/img/bx-building 1.svg" alt="icono building">
                        <h3>Sedes</h3>
                        <ul>
                            <li>Sede Kennedy</li>
                            <li>Sede Suba</li>
                            <li>Sede Fontibon</li>
                            <li>Sede Centro</li>
                        </ul>
                    </div>
                    <div class="foot">
                        <img src="../assets/img/bx-building 1.svg" alt="icono building">
                        <h3>Sedes</h3>
                        <ul>
                            <li>Sede Kennedy</li>
                            <li>Sede Suba</li>
                            <li>Sede Fontibon</li>
                            <li>Sede Centro</li>
                        </ul>
                    </div>
            </div>
        </footer>
    </main>
</body>
</html>